
{% set random = random(10)%}

{% if not __SELF__.properties.btnName %} {%set btnName = 'Оставить заявку' %} {% else %} {%set btnName = __SELF__.properties.btnName  %} {% endif %}

{% if result == 1 %}
    <div class="alert alert-success wow fadeIn" data-wow-delay="0.1s" role="alert"><h3>Спасибо, Ваша заявка принята.</h3><p>Скоро с Вами свяжется менеджер!</p></div>
{% endif %}

<form data-request="onTelegramNoticeSendForm" id="form-1" data-request-update="{ 'TelegramNotice::default': '#order-form-div' }">
    <input name="from" type="hidden" value="{{ this.page.title }}">
    <input name="nm" class="form-control form-control-lg  my-2" type="text" placeholder="Введите Ваше Имя">
    <input name="ph" minlength="5" class="form-control form-control-lg my-2 input-phone" type="text" placeholder="Номер телефона" required>                             
                                
                                
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-warning btn-lg  my-2" >{{ btnName }}</button>
    </div>

    <div class="text-start">
        <div class="form-check py-1 py-xl-0">
            <input class="form-check-input" type="radio" name="tag" id="radio1{{random}}" checked value="По умолчанию перезвонить">
            <label class="form-check-label text-white" for="radio1{{random}}" >Пусть мне перезвонят по телефону</label>
        </div>
        <div class="form-check py-1 py-xl-0">
            <input class="form-check-input" type="radio" name="tag" id="radio2{{random}}" value="Просит написать в whtasapp">
            <label class="form-check-label text-white" for="radio2{{random}}" >Пусть напишут в WhatsApp</label>
        </div>
        <div class="form-check py-1 py-xl-0">
            <input class="form-check-input" type="radio" name="tag" id="radio3{{random}}" value="Просит написать в telegram">
            <label class="form-check-label text-white" for="radio3{{random}}">Пусть напишут в Telegram</label>
        </div>
    </div>
</form>


